body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}
.section {
    padding-top: 120px;
    padding-bottom: 120px;
}
.link {
    text-decoration: none;
    color: #2E2F42;
    font-weight: 500;
    padding: 24px 0;
    display: block;
}
.link:focus {
    color: #404BBF;
}
.link:hover {
    color: #404BBF;
}
.link-logo {
    display: inline-block;
    margin-right: 76px;
    text-decoration: none;
    font-size: 18px;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.54px;
    color: #4D5AE5;
}
.link-logo-studio-header {
    color: #2E2F42;
}
ul, ol {
    list-style-type: none;
}
address {
font-style: normal;
}
.link-address {
    text-decoration: none;
    color: #434455;
}
.link-address:hover {
    color: #404BBF;
}
.link-address:focus {
    color: #404BBF;
}
.hero-section {
    background-color: #2E2F42;
}
.title {
color: white;
font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 1.12px;
text-align: center;
max-width: 496px;
margin: 0 auto;
}
.button {
    color: white;
    background-color:  #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.04em;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    display: block;
    margin: 48px auto 0;
    min-width: 169px;
    height: 56px;
}
.button:hover {
    background-color: #404BBF;
}
.button:focus {
    background-color: #404BBF;
}
.features-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.features {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.40px;
    margin-bottom: 8px;
}
.team-title {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;
}
.team-member {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.40px;
    margin-bottom: 8px;
}
.team-member-card {
    background-color: #FFFFFF;
    text-align: center;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.team-member-role {
    font-size: 16px;
}
.portfolio-title {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;
}
.portfolio-service {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.footer {
    background-color: #2E2F42;
    padding: 100px 0;
}
.logo-footer {
    margin-bottom: 16px;
}
.footer-text {
    color: #F4F4FD;
    width: 264px;
}

.link-logo-studio-footer {
    color: #F4F4FD;

}
.hero-section {
    padding-top: 188px;
    padding-bottom: 188px;
}
.nav-box {
    display: flex;
    align-items: center;
}
.navigation {
    display: flex;
    gap: 40px;
}
.address-nav {
    display: flex;
    gap: 40px;
}
.header-menu {
    border-bottom: 1px solid #E7E9FC;
    
}
.container-header {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.features-box {
    display: flex;
    gap: 24px;
}
.features-item {
    display: block;
    width: 264px;
}
.section-our-team {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #F4F4FD;
}
.team-box-items {
    display: flex;
    gap: 24px;
}
.text-team-member-card {
    display: block;
    padding: 32px 0;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.portfolio-list-item {
    width: calc((100% - 48px) / 3);
}
.text-portfolio-list-item {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}